
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
.vs/VSWorkspaceState.json
.vs/VC-Mouse-Fix/v17/ipch/AutoPCH/de84f90de3274b88/VC-MOUSE-FIX.ipch
.vs/VC-Mouse-Fix/v17/ipch/AutoPCH/d16f8a6f590937f3/VC-MOUSE-FIX.ipch
.vs/VC-Mouse-Fix/v17/ipch/AutoPCH/9dbef4719936ae2f/VC-MOUSE-FIX.ipch
.vs/VC-Mouse-Fix/v17/ipch/AutoPCH/8f6622d83a2984f6/DLEP2ITO..ipch
.vs/VC-Mouse-Fix/v17/Browse.VC.opendb
.vs/VC-Mouse-Fix/v17/Browse.VC.db-wal
.vs/VC-Mouse-Fix/v17/Browse.VC.db-shm
.vs/VC-Mouse-Fix/v17/Browse.VC.db
.vs/VC-Mouse-Fix/v17/.wsuo
.vs/VC-Mouse-Fix/v17/.suo
.vs/VC-Mouse-Fix/FileContentIndex/fc9a84a2-c06c-4096-8cb5-82191bba6742.vsidx
.vs/VC-Mouse-Fix/FileContentIndex/b2f8d94b-024f-410a-8968-a9ffb9828bf4.vsidx
.vs/VC-Mouse-Fix/FileContentIndex/2a2633b5-a26e-4e8e-b497-e703c8c1772e.vsidx
.vs/VC-Mouse-Fix/FileContentIndex/028c5c70-5b64-40e9-822a-72dfaab55a58.vsidx
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vscode/settings.json
.vscode/tasks.json
compile.bat
Debug/vs.exe
Debug/vs.pdb
VC-Mouse-Fix.code-workspace
VC-Mouse-Fix.sln
vs/Debug/resource.res
vs/Debug/VC-Mouse-Fix.obj
vs/Debug/vc143.idb
vs/Debug/vc143.pdb
vs/Debug/vs.exe.recipe
vs/Debug/vs.ilk
vs/Debug/vs.log
vs/Debug/vs.tlog/CL.command.1.tlog
vs/Debug/vs.tlog/Cl.items.tlog
vs/Debug/vs.tlog/CL.read.1.tlog
vs/Debug/vs.tlog/CL.write.1.tlog
vs/Debug/vs.tlog/link.command.1.tlog
vs/Debug/vs.tlog/link.read.1.tlog
vs/Debug/vs.tlog/link.write.1.tlog
vs/Debug/vs.tlog/rc.command.1.tlog
vs/Debug/vs.tlog/rc.read.1.tlog
vs/Debug/vs.tlog/rc.write.1.tlog
vs/Debug/vs.tlog/vs.lastbuildstate
vs/vs.vcxproj
vs/vs.vcxproj.filters
vs/vs.vcxproj.user
.vs/VC-Mouse-Fix/FileContentIndex/8899bc38-0802-4766-870d-152a45ec0711.vsidx
.vs/VC-Mouse-Fix/FileContentIndex/70e347a3-c9a4-4c10-9aa5-d34dc6426b49.vsidx
.vs/VC-Mouse-Fix/FileContentIndex/ccf4f405-f3c2-44df-ab7e-abe95e67e7d8.vsidx
c/.vs/c/FileContentIndex/7b91e7cf-f120-4bc6-8db1-c6ef9313e1eb.vsidx
c/.vs/c/v17/Browse.VC.db
c/.vs/c/v17/Browse.VC.db-shm
c/.vs/c/v17/Browse.VC.db-wal
c/.vs/c/v17/Browse.VC.opendb
c/.vs/c/v17/ipch/AutoPCH/4efa5caf15280577/VC-MOUSE-FIX.ipch
c/.vs/ProjectSettings.json
c/.vs/slnx.sqlite
*.vsidx
*.ipch
c/.vs/c/v17/.wsuo
*.json
